<!DOCTYPE html>
<html>
<head>
    <title>Wild Times Adventure Log</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='COLOR.css') }}">
</head>
<body>
    <h1>|WildTimes WelcomesYou to WildTimes' WelcomePage for WildTimes
        You'reWelcome|
    </h1>
    <nav>
        <ul>
            <li><a href="/participants">Participants</a></li>
            <li><a href="/activities">Activities</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/adventure-log">Adventure Log</a></li>
        </ul>
    </nav>
</body>
</html>