<!DOCTYPE html>
<html>
<head>
    <title>{{ participant_name }}'s History - WildTimesAdventureLog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='COLOR.css') }}">
</head>
<body>

    <h1>{{ participant_name }}'s Adventure History</h1>
    <h2>Friends With:</h2>
    <ul>
        {% for friend in friends %}
            <li>{{ friend }}</li>
        {% else %}
            <li>Nope, ain't got no friends neither !</li>
        {% endfor %}
    </ul>

    <h2>Locations Been To:</h2>
    <ul>
        {% for location in locations %}
            <li>{{ location }}</li>
        {% else %}
            <li>They ain't fuckin' been nowhere ! </li>
        {% endfor %}
    </ul>
    
    <h2>Activities Participated In:</h2>
    <ul>
        {% for activity in activities %}
            <li>{{ activity }}</li>
        {% else %}
            <li>Been doin' a whole lotta nuthin !</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('show_participants') }}">Back to Participants</a>
    <a href="{{ url_for('home') }}">Back to Home</a>
</body>
</html>
