<!DOCTYPE html>
<html>
<head>
	<title>Second Page</title>
</head>
<body>
	<table>
	<!-- Table Headers -->
	<thead>
		<tr>
			<th>Name</th>
			<th>Skill Level</th>
			<th>Age</th>
		</tr>
	</thead>

	<tbody>
		<tr>
			<td>Brock</td>
			<td>Advanced</td>
			<td>28</td>
		</tr>
		<tr>
			<td>Anne</td>
			<td>Intermediate</td>
			<td>29</td>
		</tr>
		<tr>
			<td>Sonny</td>
			<td>Beginner</td>
			<td>1</td>
		</tr>
		<tr>
			<td>{{ name }}</td>
			<td>{{ skill_level }}</td>
			<td>{{ age }}</td>
		</tr>
	</tbody>
	</table>
</body>
</html>