<!DOCTYPE html>
<html>
<head>
	<title>Second Page</title>
	<style>
		table, th, td {
			border: 3px salmon solid;
			border-collapse: separate;
			fill: burlywood;
		}
	</style>
</head>
<body>
	<table>
	<!-- Table Headers -->
		<thead>
			<tr>
				<th>Name</th>
				<th>Skill Level</th>
				<th>Age</th>
			</tr>
		</thead>

		<tbody>
			{% for row in data %}
			<tr>
				<td>{{ row[0] }}</td> <!--Name-->
				<td>{{ row[1] }}</td> <!--Skill-->
				<td>{{ row[2] }}</td> <!--Age-->
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>