<!DOCTYPE html>
<html>
<head>
    <title>Update an Activity</title>
</head>
<body>
    <h1>Update an Activity</h1>
    <form action="/activities/update/{{ id }}" method="POST">
        Activity Name: <input type="text" name="activity_name" value="{{ activity[0] }}"><br>
        Difficulty Level:
		<select name="difficulty_level">
            <option value="Beginner" {% if activity[1] == 'Beginner' %}selected{% endif %}>Beginner</option>
            <option value="Intermediate" {% if activity[1] == 'Intermediate' %}selected{% endif %}>Intermediate</option>
            <option value="Advanced" {% if activity[1] == 'Advanced' %}selected{% endif %}>Advanced</option>
            <option value="Expert" {% if activity[1] == 'Expert' %}selected{% endif %}>Expert</option>        
		</select><br>
        <input type="submit" value="Update">
    </form>
</body>
</html>